.btn {
    border: none;
}
.trash {
    background-color: rgb(247, 196, 195);
    i {
        color: rgb(222, 4, 0);
    }
    border:none;
}
.edit {
    background-color: rgb(250, 226, 197);
    i {
        color: rgb(245, 158, 59);
    }
}

.custom-operation {
    display: flex;
    justify-content: space-around; /* Căn các thành phần trong div theo khoảng cách đều nhau */
    align-items: center; /* Căn các thành phần theo chiều dọc */
    width: 150px; /* Đặt chiều rộng mong muốn của div */
  }

.input_description {
    border: 1px solid rgb(217, 217, 217);
    &:focus {
        outline: none;
    }
}
.delete_image_update {
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: 20px;
    color: red;
    margin-left: -25px;
}

.dataTables_length {
    font-size: 14px;
}
.delete_list_user {
    background-color: rgb(247, 196, 195);
}