.single-product {
   margin-bottom: 50px;
   border: 1px solid #f0f2f1;
  width: 100%;
   transition: all 0.5s ease;
 
   &:hover {
  
    
    background-color: white;
    box-shadow: 10px 10px 10px #aba7a7;
    
     .p_icon {
       display: flex;
       transition: 0.5s ease;
       height: 23%;
       
       > a {
         display: flex;
         align-items: center;
         justify-content: center;
         text-decoration: none;
       }
     }
 
     .product-btm p {
       color: rgb(113, 205, 21);
     }
   }
 }
 
 .product-btm {
   padding: 22px 25px 18px;
   border: 1px solid #f0f2f1;
   text-align: left;
 
   > a {
     color: black;
     text-decoration: none;
     font-size: 15px;
   }
 }
 
 .cart-title {
   span {
     font-weight: 700;
     font-size: 20px;
     margin-right: 25px;
   }
 
   del {
     color: #7f7878;
   }
 }
 
 .product-img {
   position: relative;
   justify-content: center;
   align-items: center;
   display: flex;
   padding: 10px;
  
 img {
  width: 80%;
 
 }
   .p_icon {
     width: 90%;
     height: 0;
     background-color: antiquewhite;
     position: absolute;
     bottom: 0;
     justify-content: space-around;
     align-items: center;
     left: 50%;
     transform: translateX(-50%);
     background-color: rgba(162, 247, 141, 0.7);
     align-items: center;
 
     > a {
       background-color: white;
       padding: 10px;
       width: 44px;
       height: 44px;
       border-radius: 50%;
       text-align: center;
       display: none;
 
       &:hover {
         background-color: rgb(122, 208, 35);
         transition: 0.8s ease;
       }
 
       i {
         color: rgb(71, 68, 68);
         font-size: 15px;
       }
 
       &:hover > i {
         color: white;
       }
     }
   }
 }
 