
.slick-dots {

    top: 93%;
   }
   
   .slick-dots li {
     margin: 0 2px;
   }
   
   .slick-dots li button::before {
     font-size: 10px; 
    
   }

   .Home-banner img.clicked {
     border: none;
   }