/* AdminPage.scss */

.Admin {
    .ant-menu {
        background-color: rgb(0, 28, 64);
    }
    /* Định dạng cho phần Menu */
    .ant-menu-item-selected {
      background-color: rgb(255, 212, 59) !important;
      color: rgb(0, 0, 0) !important;
      width: 220px
    
    }
  

  
    .ant-menu-item-selected:focus {
        background-color: rgb(255, 212, 59) !important;
      color: rgb(0, 0, 0) !important;
      width: 220px;
      
    }
  }

  .admin-content {
    background-color: rgb(245, 245, 245);
  }
  