.product-detail {
    margin-top: 80px;
}
.product_inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: aqua;
    img {
        width: 90%;
    }
    .product_img {
       
        display: flex;
        
        list-style: none;
       margin-top: 20px;
        padding: 0 60px;
        // width: 60%;
        justify-content: space-between;
        li {
       
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                width: 60%;
                cursor: pointer;
            }
        }
    }
}
.product_text {
    p {
        display: block;
        border-top: 1px solid #e6e0e0;
        padding: 30px 0;
    }
    ul {
        margin-top: 20px;
        padding: 0;
        list-style: none;
        li > a {
            text-decoration: none;
            color: var(--text-color);
            font-size: 14px;

        }
        
    }
    ul li:last-child {
        a {
            color: #555555;
        }
    }
    margin-top: 70px;
    h2 {
        font-size: 24px;
        font-weight: 500;
        color: var(--text-color);
    }
    h3{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
    }
   .product_count {
 
    margin-bottom: 24px;
    input {
        width: 30px;
        border: 1px solid #eeeeee;
        border-radius: 3px;
        padding-left: 10px;
        position: relative;
        margin: 0 10px;
    }
    button {
        border: none;
        color: #79797979;
        &:hover {
            
            i {
                color: #1e1e1e;
            }
        }
    }
    
}
.product_count .label {
    font-size: 14px;
    color: #797979;
    padding-right: 10px;
    
}

}


.main_btn  {
     
        line-height: 38px;
        padding: 15px 38px;
        text-transform: uppercase;
        margin-right: 10px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        background-color: var(--text-color);
        font-size: 12px;
        transition: all 0.3s ease;
     &:hover {
        background-color: white;
        color: var(--text-color);
        border: 1px solid var(--text-color);
    }
}
.icon_btn {
    margin-right: 10px;
    background: #f6f6f6;
    border-radius: 3px;
    color: #2a2a2a;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    padding: 0px 13px;
    font-size: 14px;
    transition: all 0.3s ease;
    &:hover {
        background-color: white;
        box-shadow: -7px 7px 7px #d2cfcf;
    }
}
// .product_description_area {
//     padding-bottom: 120px;
//     margin-top: 60px;
//     .nav-tabs {
//     background: #f6f6f6;
//     text-align: center;
//     display: flex;
//     justify-content: center;
//     border: none;
//     padding: 10px 0px;
    
//     li {
//         display: inline-block;
//         margin-right: 7px;
//         background-color: white;
//         font-size: 13px;
//         padding: 10px 30px;
//         cursor: pointer;
//     }
//     }
// }


/* Style for the tab navigation */
.product-tabs  {
    margin-bottom: 100px;
}
.nav {
    background-color: rgb(246,246,246);
    padding: 10px 0;
}
.nav-tabs {
    margin-top: 50px;
    border-bottom: 2px solid #ccc; /* Add a bottom border */
    display: flex;
    justify-content: center;
  }
  
  .nav-tabs .nav-link {
    color: #ffffff;
    background-color: var(--text-color); 
    border: none; 
    border-radius: 0;
    font-size: 13px;
    margin-right: 10px; 
    transition: background-color 0.3s; 
  }
  

  .nav-tabs .nav-link:hover {
    color: white;
    background-color: var(--text-color); 
   
  }
  

  .tab-content {
    padding: 20px; 
    border: 2px solid rgb(246,246,246);
    border-top: none; 
    border-radius: 0 0 5px 5px; 
  }
  
  .table-responsive {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .tab-pane {
    display: none; 
  }
  
  .tab-pane.active {
    display: block; 
  }
  .product-details {
    width: 300px;
  }
  
  .product-spec {
    margin-bottom: 10px; 
  }
  .spec-title {
    font-weight: bold; 
    margin-right: 5px;
  }
  .spec-value {
    color: #333; 
  }
  .star-rating {
    unicode-bidi: bidi-override;
    color: #b0b0b0;
    font-size: 20px;
    height: 20px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
  
    > span {
      width: 20px;
      height: 20px;
      display: block;
      float: right;
      position: relative;
      z-index: 1;
  
      &:hover:before,
      &:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        z-index: 2;
      }
    }
  
    > input {
      display: none;
    }
  
    > label {
      color: #b0b0b0;
      float: right;
    }
  
    > input:checked ~ span:before {
      content: "\2605";
      color: #ffce00;
    }
  }
  